@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: #000;
  color: #fff;
}

canvas {
  image-rendering: pixelated;
}